.App {
  text-align: center;
  background-color: #282c34;
  font-family:"Poppins", Helvetica, Arial, sans-serif !important;
}

.ui.button{
  letter-spacing: 1px !important;
  color: #282c34 !important;
}

.ui.table {
  letter-spacing: .25px
}

.ui.label {
  letter-spacing: 1px !important;
  font-weight: normal !important;
  padding: 14px 20px !important;
  color: black !important;
}

.dfs {
  height: 460px !important;
  overflow-y: scroll !important; /* or auto */
  width:516px  !important;
  scrollbar-color: rgb(221, 227, 221) !important;
}

.dfsClassic {
  height: 510px !important;
  overflow-y: scroll !important; /* or auto */
  width:516px  !important;
  scrollbar-color: rgb(221, 227, 221) !important;
}

.schedulebuttons {
  margin-top: 8%;
  margin-bottom:1%;
}

.schedulebuttons p, h5 {
  color: white; 
}

.schedulebuttons .label {
  background-color: #282c34;
  width: 80px;
  border-color: white !important;
}

.head h1 {
  font-family:"Poppins", Helvetica, Arial, sans-serif !important;
  margin-top: 3.5% !important;
  margin-bottom: -1.5% !important;
  margin-left: 2%;
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: .5px !important;


}

